<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'User:my_pro' %}">Profile</a>
    <a href="{% url 'User:mybooking' %}">My Booking</a>
    <a href="{% url 'User:view_publisher_book' %}">Publisher Book</a>

    <div>
        {% for i in ubook %}
      
        <p><img src="{{i.ubook_photo.url}}" width="150" height="150" alt=""></p>
        <p>{{i.ubook_name}}</p>
        <p>{{i.ubook_price}}</p>
        <p><a href="{% url 'User:Viewmore' i.id %}">View More</a>
        </p>
        
        {% endfor %}
    </div>
</body>
</html>
