{% extends 'User/Header.html' %}
{% load static %}
{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1" cellpadding="10">
        <tr>
            <td>SerialNo</td>
            <td>Date</td>
            <td>Amount</td>
            <td>Action</td>
        </tr>
        {% for i in booking %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.booking_date}}</td>
            <td>{{i.booking_amount}}</td>
            <td>
                {% if i.booking_status == 3 %}
                <span>Assigned</span> | <a href="{% url 'User:mypublisherbook' i.id %}">View Book</a>
                {% elif i.booking_status == 4 %}
                <span>Collected</span> | <a href="{% url 'User:mypublisherbook' i.id %}">View Book</a>
                {% elif i.booking_status == 5 %}
                <span>Delivered</span> | <a href="{% url 'User:mypublisherbook' i.id %}">View Book</a>
                {% else %}
                <a href="{% url 'Agent:viewpublisherproduct' i.id %}">View More</a></td>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
</table>
</body>
</html>

{% endblock content %}