{% extends 'User/Header.html' %}
{% load static %}
{% block content %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Request To</h3>
    <table cellpadding="10">
        <tr>
            <td>#</td>
            <td>User</td>
            <td>Book Buy</td>
            <td>Book Sell</td>
            <td>Payment Status</td>
            <td>Agent</td>
            <td>Swap Status</td>
        </tr>
        {% for i in swaping %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.fromuser_id.user_name}}</td>
            <td>{{i.frombook_id.ubook_name}}</td>
            <td>{{i.tobook_id.ubook_name}}</td>
            <td>
                {% if i.swap_paymentstatus == "1" %}
                <span>Payed</span>
                {% else %}
                <span>Not Payed</span>
                {% endif %}
            </td>
            <td>
                {% if i.agent == "" %}
                <span style="color: red;">N/A</span>
                {% else %}
                {{i.agent.agent_name}}
                {% endif %}
            </td>
            <td>
                {% if i.swap_status == 1 %}
                <span>Assigned</span> | <a href="{% url 'User:chatpage' i.touser_id_id %}">Chat</a>
                {% elif i.swap_status == 2 %}
                <span>Collected</span> | <a href="{% url 'User:chatpage' i.touser_id_id %}">Chat</a>
                {% elif i.swap_status == 3 %}
                <span>Delivered</span> | <a href="{% url 'User:chatpage' i.touser_id_id %}">Chat</a>
                {% elif i.swap_status == 4 %}
                <span>Returned</span> | <a href="{% url 'User:chatpage' i.touser_id_id %}">Chat</a>
                {% elif i.swap_status == 5 %}
                <span>Return Delivered</span> | <a href="{% url 'User:chatpage' i.touser_id_id %}">Chat</a>
                {% elif i.swap_status == 6 %}
                <span>Completed</span> | <a href="{% url 'User:userrating' i.id %}">Rate</a>
                {% elif i.swap_status == 0 and i.swap_paymentstatus == 1 and i.fromuser_id == user %}
                <span>You Not Payed</span> | <a href="{% url 'User:swappayment' i.id %}">Payment</a>
                {% elif i.swap_status == 0 and i.swap_paymentstatus == 2 and i.fromuser_id == user %}
                <span>Both Payed</span> | <a href="{% url 'User:chatpage' i.touser_id_id %}">Chat</a>
                {% else %}
                <span>Not Assigned</span> | <a href="{% url 'User:chatpage' i.fromuser_id_id %}">Chat</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>

    <h3>Request From</h3>
    <table cellpadding="10">
        <tr>
            <td>#</td>
            <td>User</td>
            <td>Book Buy</td>
            <td>Book Sell</td>
            <td>Payment Status</td>
            <td>Agent</td>
            <td>Swap Status</td>
        </tr>
        {% for i in fromuser %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.fromuser_id.user_name}}</td>
            <td>{{i.frombook_id.ubook_name}}</td>
            <td>{{i.tobook_id.ubook_name}}</td>
            <td>
                {% if i.swap_paymentstatus == "1" %}
                <span>Payed</span>
                {% else %}
                <span>Not Payed</span>
                {% endif %}
            </td>
            <td>
                {% if i.agent == "" %}
                <span style="color: red;">N/A</span>
                {% else %}
                {{i.agent.agent_name}}
                {% endif %}
            </td>
            <td>
                {% if i.swap_status == 1 %}
                <span>Assigned</span> | <a href="{% url 'User:chatpage' i.touser_id_id %}">Chat</a>
                {% elif i.swap_status == 2 %}
                <span>Collected</span> | <a href="{% url 'User:chatpage' i.touser_id_id %}">Chat</a>
                {% elif i.swap_status == 3 %}
                <span>Delivered</span> | <a href="{% url 'User:chatpage' i.touser_id_id %}">Chat</a>
                {% elif i.swap_status == 4 %}
                <span>Returned</span> | <a href="{% url 'User:chatpage' i.touser_id_id %}">Chat</a>
                {% elif i.swap_status == 5 %}
                <span>Return Delivered</span> | <a href="{% url 'User:chatpage' i.touser_id_id %}">Chat</a>
                {% elif i.swap_status == 6 %}
                <span>Completed</span> | <a href="{% url 'User:userrating' i.id %}">Rate</a>
                {% elif i.swap_status == 0 and i.swap_paymentstatus == 1 and i.touser_id == user %}
                <span>You Payed</span> | <a href="{% url 'User:chatpage' i.touser_id_id %}">Chat</a>
                {% elif i.swap_status == 0 and i.swap_paymentstatus == 2 and i.touser_id == user %}
                <span>Both Payed</span> | <a href="{% url 'User:chatpage' i.touser_id_id %}">Chat</a>
                {% else %}
                <span>Not Assigned</span> | <a href="{% url 'User:chatpage' i.touser_id_id %}">Chat</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>


{% endblock content %}