
{% extends 'User/Header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <input type="text" name="search" id="search" onkeyup="SearchKey(this.value)">
  <div id="ajaxData">

      {% for i in data %}
      
      <p>{{forloop.counter}}</p>
      <p>{{i.ubook_name}}</p>
      <p>{{i.ubook_price}}</p>
      <p><img src="{{i.ubook_photo.url}}" width="150" height="150" alt=""></p>
      <p><a href="{% url 'User:Viewmore' i.id %}">View More</a>
      </p>
      
      {% endfor %}
    </div>

    
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
 function SearchKey (bookName) {
        
        var ur = "{% url 'User:Ajaxsearch' %}"
        $.ajax({
            url: ur,
            data: {  bookName:bookName },
            success: function (data) {
                $("#ajaxData").html(data);
            },
        });
    }
</script>
</html>
{% endblock content %}